.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }





  .large-dropdown {
    width: 100%; /* Adjust the width as needed */
    font-size: 16px; /* Adjust the font size as needed */
    padding: 8px;
    margin-bottom: 10px;
  }


  textarea
  {
  width: 100%;
  padding: 10px;
  }
