
.parent {
  background-image: url('https://images.pexels.com/photos/19679/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8); /* White overlay with transparency */
  z-index: 1; /* Ensure it sits above the background image */
}


.form-title {
  text-align: center;
  color: #28a745;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.text-danger {
  font-size: 12px;
}

.text-info {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: green;
}


/* Button styling */
.btn {
  padding: 10px 15px; 
  font-size: 16px;
  background-color: #27c632ec;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
}

.btn:disabled {
  background-color: #28a745;;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  background-color: #075714;
  transform: scale(1.02);
}
